<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en" id="perfect-scrollbar-on" class="perfect-scrollbar-on">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href=<%= themeConfig.information.imageFavicon %>>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        <%= themeConfig.information.websiteTitle %>
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <%- include('partials/head.ejs') %>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="https://adn.siondevelopment.xyz/dbd-dark/src/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://adn.siondevelopment.xyz/dbd-dark/src/css/now-ui-dashboard.css" rel="stylesheet"/>
    <link href="https://adn.siondevelopment.xyz/dbd-dark/src/css/theme.css" id="theme" rel="stylesheet">
    <link href="https://adn.siondevelopment.xyz/dbd-dark/src/css/darkreader.css" id="theme" rel="stylesheet">
    <style>
        .panel-header {
            background: <%-themeConfig.information.pageBackGround%> !important;
        }
    </style>
    <style>
        .small, small {
            font-size: 100% !important;
        }

        .not-invited {
            background-color: rgb(87, 84, 84) !important;
        }
    </style>
    <style> .server-image {
            position: absolute;
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid rgb(242, 244, 251);
            filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 32px 72px);
        }

        .image-div {
            position: relative;
            z-index: 1;
            overflow: hidden;
            align-items: center;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            border-radius: 8px;
            width: 250px;
            height: 200px;
            border-radius: 10px;
        }

        .background {
            position: relative;
            width: 250px;
            height: 200px;
            display: flex;
            filter: blur(10px);
            opacity: 0.3;
        }

        .server {
            display: inline-table;
            margin-right: 40px;
        }

        .content-server {
            width: 250px;
            min-height: 200px;
            position: relative;
        }

        .servbtn {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
        } 
        
        @media screen and (max-width: 690px) {
            .server-div {
                width: min-content;
                margin: auto;
            }
        }   
        </style>
    <%- include('partials/css.ejs') %>
</head>

<body class="">
<%- include('partials/body.ejs') %>
<div class="wrapper ">
    <!-- Side Bar-->
    <%- include('partials/sidebar.ejs', {now:'manage'}) %>
    <div class="main-panel" id="main-panel">
        <!-- Navbar -->
        <%- include('partials/navbar.ejs', {now:'manage'}) %>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <% if(themeConfig.guilds){ %>
                                    <%- themeConfig.guilds.cardTitle %>
                                <% } else{ %>Guilds
                                <% } %>
                            </h4>
                            <p class="category">
                                <% if(themeConfig.guilds){ %>
                                    <%- themeConfig.guilds.cardDescription %>
                                <% } else{ %>Here are all the guilds you currenly have permissions for:
                                <% } %>
                            </p>
                        </div>
<<<<<<< Updated upstream
                        <% if(themeConfig.guilds){ %>
                            <%if(themeConfig.guilds.type == 'blurlist'){%>
                                <%- include('components/serverList/blurlist.ejs')%>
                            <%}else if(themeConfig.guilds.type == 'tablelist'){%>
                                  <%- include('components/serverList/tablelist.ejs')%>
                            <%} else{ %>
                                <%- include('components/serverList/blurlist.ejs')%>
                            <% } %>
                        <% } else{ %>
                            <%- include('components/serverList/blurlist.ejs')%>
                        <% } %>
=======
                         <% if(themeConfig?.guilds?.type == 'blurlist'){ %>
                             <%- include('components/serverList/blurlist.ejs', {bot, themeConfig, config}) %>
                         <% } else if( themeConfig?.guilds?.type == 'tablelist'){ %>
                             <%- include('components/serverList/tablelist.ejs', {bot, themeConfig, config}) %>
                         <% } else { %>
                             <%- include('components/serverList/blurlist.ejs', {bot, themeConfig, config}) %>
                         <% } %>
>>>>>>> Stashed changes
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs', {now:'manage'}) %>
    </div>
</div>
<!--   Core JS Files   -->
<script src="https://adn.siondevelopment.xyz/dbd-dark/src/js/perfect_scrollbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>
<script>
    const ReloadGuildsButtonClicked = () => {
        document.getElementById("ReloadComponent").innerHTML = "Reloading your guilds... Please wait, site will refresh automatically.";
        fetch("/discord/guilds/reload").then(res=>res.json()).then(json=>{
            if(json.error){
                document.getElementById('reloadButtonErrorText').innerHTML = `${json.message} ${json.login_again_text ? "Please try <a href='/discord'>log in again</a>." : null}`;
                document.getElementById("ReloadComponent").innerHTML = `If you cant see any of your servers try <span
            style="cursor: pointer;" class="bluey"
            onclick="ReloadGuildsButtonClicked();">reloading them</span>.`;
            }else{
                window.location.reload(false);
            }
        });
    }

    if (window.location.href.indexOf("?error=noPermsToManageGuild") != -1) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            },
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            }
        })

        Toast.fire({
            icon: 'error',
            title: `<% if(themeConfig.popupMsg){ %><%- themeConfig.popupMsg.noPerms %><% } else{ %>Error<% } %>`
        })
    }
</script>
</body>

</html>